@model List<ActualFinalProject.Models.CartModel>

@{
    ViewBag.Title = "Previous Orders";
}

<h2>Previous Orders</h2>
<hr/>
@{if (Model.Count == 0)
  {
      <h2>You have no previous orders</h2>
    }
    else {
        foreach (var item in Model)
        {
            <p>Order Date: @Html.DisplayFor(model => item.OrderDate)</p>
            if (item.CartItems.Count == 0)
            {
                <h3 style="text-align: center;">Empty order</h3>
            }
            else
            {
                <table class="table">

                    <tr>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Item Price
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Subtotal
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var product in item.CartItems)
                    {
                        decimal a = decimal.Parse(@Html.DisplayFor(modelItem => product.Quantity).ToString()) * decimal.Parse(@Html.DisplayFor(modelItem => product.Item.ItemPrice).ToString());
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => product.Item.ItemName)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => product.Item.ItemPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => product.Quantity)
                            </td>
                            <td>
                                $@a
                            </td>
                        </tr>
                    }

                </table>
                <hr/>
            }
        }


    }
}
